@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBC_Travel_Group_32</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    
    

</head>
<body id="body" class="mb-0">

        <section class="header navigation fixed-top">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/img/Bigweld.webp" style="height: 24px" /><img src="~/img/Bigweld.webp" style="height: 24px" /><img src="~/img/Bigweld.webp" style="height: 24px" /><img src="~/img/Bigweld.webp" style="height: 24px" /></a>
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" 
                           aria-controls="navigation" aria-expanded="false" aria-label="Toggle navivation">
                           <span class="tf-ion-android-menu"></span>
                       </button>
                        <div class="collapse navbar-collapse flex-sm-row-reverse" id="navigation">
                           <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Listing" asp-action="Index">Listings</a>
                                </li>
                                @if(User.Identity.IsAuthenticated && User.IsInRole("Admin")) {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Booking" asp-action="UserBookings" asp-route-userId="@UserManager.GetUserId(User)">My Bookings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Listing" asp-action="UserListing" asp-route-id="@UserManager.GetUserId(User)">My Listings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                                    </li>
                                } else if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Booking" asp-action="UserBookings" asp-route-userId="@UserManager.GetUserId(User)">My Bookings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                                    </li>
                                } else {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Listing" asp-action="Search">Search</a>
                                </li>
                           </ul>
                       </div>
                       </nav>
                   </div>
               </div>
           </div>
        </section>
        


            @RenderBody()
       
   

    <footer id="footer" class="bg-one">
        <div class="footer-bottom">
            <h5> &copy; 2024 - GBC_Travel_Group_32 </h5>
            <h6>Website by Will Steep</h6>
        </div>
    </footer>
    
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
