@model List<Listing>

@{

    ViewData["Title"] = "Listings";



}

<h2>Listings</h2>

@if (Model.Any())
{
    <table class="table">


        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>


        @foreach(var listing in Model)
        {
             <tbody>
                  <tr>
                    <td>@listing.ListingId</td>
                    <td>@listing.Name</td>
                    <td>@listing.Description</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@listing.ListingId">Details</a>
                        <a asp-action="Edit" asp-route-id="@listing.ListingId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@listing.ListingId" onclick="return confirm('Are you sure you want to delete this project?')">Delete</a>
                    </td>
                  </tr>
            </tbody>
        }

    </table>
}
else 
{
    <p>No listings available</p>
}

 <a asp-area="" asp-controller="Listing" asp-action="Create">Create New Listing</a>



