@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model Booking

@{
    ViewData["Title"] = "Cancel Booking";

    var userId = UserManager.GetUserId(User);

}


<section class="single-page-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Delete Booking</h2>

                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Booking" asp-action="UserBookings" asp-route-userId="@Model.UserId">My Bookings</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Delete Booking
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

</section>

@if (!User.Identity.IsAuthenticated)
{
    <h3>Not Logged in.</h3>



    <p>You must be logged in to cancel a booking.</p>

    <a asp-controller="User" asp-action="Login">Log in here</a>
}



else if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == Model.UserId)
{


    var user = await UserManager.FindByIdAsync(Model.UserId);

    <section class="mb-4 listingCreate">
        <div class="container mb-5 mt-5" style="padding: 0; width: 40%">
            <div class="bookingContainer" style="display: flex">
                <div style="display: flex; flex-direction: column; justify-content: center">
                    <div class="bookingDetails">
                        <span class="bookingLabel">Username:</span>
                        <span class="bookingValue">@user.UserName</span>
                    </div>
                    <div class="bookingDetails">
                        <span class="bookingLabel">Email:</span>
                        <span class="bookingValue">@Model.Email</span>
                    </div>
                    <div class="bookingDetails">
                        <span class="bookingLabel">From:</span>
                        <span class="bookingValue">@Model.BookingDate</span>
                    </div>
                    <div class="bookingDetails">
                        <span class="bookingLabel">To:</span>
                        <span class="bookingValue">@Model.BookingEndDate</span>
                    </div>
                </div>
            </div>
        </div>


  


    <form asp-controller="Booking" asp-action="DeleteConfirmed" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" name="bookingId" value="@Model.BookingId" />
        <button type="submit" class="btn btn-danger">Cancel Booking</button>
        <a asp-action="UserBooking" asp-route-userId="@Model.UserId" class="btn btn-secondary">Go Back</a>
    </form>
    </section>
} else {
    
    <h3>No Booking Found</h3>



}